@charset "UTF-8";

.main-div {
	background-color: lightgray;
}

.main-div {
	border: 30px solid #2B3946;
	background: #fafafa;
	padding: 50px;
	box-shadow: 5px 5px 10px silver;
	display: inline-block;
	font-family: 'Do Hyeon', sans-serif;
}

.container {
	margin-top: 30px;
	text-align: center;
}

#submit-button {
	width: 100%;
	background: #2B3946;
	border: white;
	font-size: 15pt;
}

.main-div-title>h2 {
	font-size: 25pt;
	font-weight: bold;
}

.style-one { /*hr*/
	height: 1px;
	background: #bbb;
	background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
	background-image: -moz-linear-gradient(left, #eee, #777, #eee);
	background-image: -ms-linear-gradient(left, #eee, #777, #eee);
	background-image: -o-linear-gradient(left, #eee, #777, #eee);
}

#forgotId, #forgotPw {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	color: black;
}

.form-group-input {
	font-family: 'Noto Sans KR', sans-serif;
}