@charset "UTF-8";

/* Footer */
.footer {
	background: #2b2f3a;
	position: fixed;
	margin: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 35px;
	text-align: center;
	color: #CCC;
	margin-top: 10%;
}

.footer p {
	margin-top: 7px;
}